.movie__banner {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.movie__banner::before {
  content: '';
  background: rgb(0 0 0 / 80%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
}

.movie__meta-info {
  position: relative;
  color: #fff;
  width: 75vw;
  display: flex;
  flex-direction: row;
  padding: 40px;
  align-items: center;
}

.movie__poster {
  flex: 0 0 240px;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
}

.move-info {
  padding-left: 40px;
}

.movie-info__title {
  margin: 0;
  padding-bottom: 4px;
}

.movie-info__genres {
  font-size: 14px;
  color: #dbdbdb;
  margin: 0;
  padding-bottom: 24px;
}

.movie__rating,
.movie__time {
  margin: 0;
  padding-bottom: 16px;
  color: #dbdbdb;
}

.mc-dot-separator {
  font-size: 48px;
  padding: 0 8px;
  line-height: 10px;
}

.movie__tagline {
  font-style: italic;
  color: #b7b7b7;
}

.movie__overview-info {
  width: 70%;
}
