header {
  background: #333;
  color: #fff;
  padding: 16px;
}

.app__title {
  margin: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.movies__list-wrapper {
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
